* { font-family: Arial; margin: 0; padding: 0;}

div#left-sidebar { float: left; padding-left: 2%; padding-top: 2%; width: 28%;}

div#right-sidebar { height: 300px; margin-right: 2%; padding-top: 10px; position: fixed; right: 0; width: 66%;}
div#right-sidebar div#actions { background-color: #CCCCCC; float: left; height: 30px; width: 100%;}
div#right-sidebar div#actions button { border: 0 none; float: left; font-size: 12px; height: 30px; line-height: 25px; padding: 0 10px;}
div#right-sidebar div#googlemap { background: none repeat scroll 0 0 #CCCCCC; float: left; margin-top: 10px; overflow: hidden; padding: 1%; width: 98%;}
div#right-sidebar div#googlemap div.rectangle {overflow: auto;}
div#right-sidebar div#googlelink { background: none repeat scroll 0 0 #CCCCCC; float: left; font-size: 12px; margin-top: 10px; padding: 1%; width: 98%;}